.titleInput {
    font-size: 20px;
    text-align: center;
    color: rgb(97, 97, 144);
}

.input {
    width: 250px;
    height: 25px;

}

.formGrup {
    display: block;
    align-items: center;
}

.button {
    width: 190px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(186, 223, 242);
    color: rgb(54, 54, 70);
}


