.navbar {
    padding: 15px 10px;
    width: 748px;
    color:rgb(141, 13, 13);
    background-color: rgb(7, 176, 192);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    text-decoration: none;
    text-align: right;
    display: inline-block;
    padding: 15px 20px;
    color: rgb(20, 20, 20);
    font-size: 30px;
    background-color: #fff;
    margin-right: 80px;
    background-color: rgb(7, 176, 192);
    /* background-color:rgb(7, 176, 192); */
}

.active {
    /* background-color: red; */
    color: rgb(141, 13, 13);
    font-weight: bold;
    background-color: rgb(7, 176, 192);
}