.listItem {
    font-size: 25px;
    text-align: center;
    color: rgb(29, 29, 30);
    margin-top: 10px;
    background-color: rgb(7, 176, 192);
    
}

.deleteItem {
    font-size: 15px;
    height: 26px;
    text-align: center;
    color: rgb(248, 245, 245);
    border: 1px solid;
    border-color: rgb(75, 21, 21);
    float: right;
    display: table-cell;
    vertical-align: middle;
    background-color:rgb(141, 13, 13);
    border-radius: 2px;
}