.userbtn {

    display: inline-block;
    background-color: rgb(219, 244, 246);
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    color: rgb(20, 19, 19);
    font-size: 20px;

}

.textEmail {
    font-size: 25px;
    font-weight: bold;
    color: rgb(141, 13, 13);
}